# rename this file to .env 
 DEBUG = False
 ALLOWED_HOSTS = ['127.0.0.1', 'localhost', 'tellingapp.herokuapp.com']
 SECRET_KEY = 'YOUR_SECRET_KEY'
 TIME_ZONE = 'GMT'
 SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = '556472444264-hdn1oa30q50jhg2c8j0u1vqs7v9jn233.apps.googleusercontent.com'
 SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = 'ufjZg5BYzXbfIM__STPcGmKW'
 SOCIAL_AUTH_FACEBOOK_KEY = "351896069246021"
 SOCIAL_AUTH_FACEBOOK_SECRET = "f082e735232d1b4ce4c674abd61882e4"