<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block title %}
  <title>Telling</title>
  {% endblock title %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Base/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Base/css/fontastic.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'Base/css/style.base.css' %}" id="theme-stylesheet">
  <link rel="icon" href="/TELLING/{% static 'Base/css/img/logo.png' %}">
  
</head>

<body>
  <header class="header">
    <!-- Main Navbar-->
    <nav class="navbar navbar-expand-lg">
      <div class="search-area">
        <div class="search-area-inner d-flex align-items-center justify-content-center">
          <div class="close-btn"><i class="icon-close"></i></div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <form action="#">
                <div class="form-group" action="{% url 'TELLING:homepage' %}">
                  <input type="search" name="search" id="search" class="search-text" placeholder="Typing Story Name or Categories">
                </div>
                <div class="custom-button ">
                  <p>Categories Hint: </p>
                  <span><button class="btn btn-danger">Knowledge</button></span>
                  <span><button class="btn btn-danger">History</button></span>
                  <span><button class="btn btn-danger">Thriller</button></span>
                  <span><button class="btn btn-danger">Mystery</button></span>
                  <span><button class="btn btn-danger">Short Story</button></span>
                  <span><button class="btn btn-danger">Fanfiction</button></span>
                  <span><button class="btn btn-danger">Fantasy</button></span>
                </div>
                <p></p>
                <div class="custom-button ">
                  <span><button class="btn btn-danger">Poetry</button></span>
                  <span><button class="btn btn-danger">Horror</button></span>
                  <span><button class="btn btn-danger">War</button></span>
                  <span><button class="btn btn-danger">Adventure</button></span>
                  <span><button class="btn btn-danger">Love</button></span>
                </div>
              </form>
              <!-- Sample search by category -->
            </div>
          </div>
        </div>
      </div>
      <nav>
        <!-- navbar content here  -->
      </nav>

      <div class="container">
        <!-- Navbar Brand -->
        <div class="navbar-header d-flex align-items-center justify-content-between">
          <!-- Navbar Brand --><a href="{% url 'TELLING:homepage' %}" class="navbar-brand"><img src="/static/Base/img/logo.png" width="30" height="30" alt="" loading="lazy">  TELLING</a>
        </div>
        <!-- Navbar Menu -->
        <div id="navbarcollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="search-btn btn btn btn-outline-dark btn-sm"><i
                  class="icon-search-1"></i> SEARCH</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                hi, {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'TELLING:show_story' %}">My story</a>
                <a class="dropdown-item" href="{% url 'TELLING:create_story' %}">Create story</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item"><a href="{% url 'login:user_login' %}"
                class="btn btn btn-outline-dark btn-sm">LOGIN</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
<!-- JavaScript files-->
<script src="{% static 'Base/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'Base/vendor/popper.js/umd/popper.min.js' %}"> </script>
<script src="{% static 'Base/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'Base/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
<script src="{% static 'Base/vendor/@fancyapps/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'Base/js/front.js' %}"></script>

<script src="https://cdn.tiny.cloud/1/ydsxxyhgqohtm5nxzy6veh1hvkp8acwjryuacl4jkyxko8iz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea'});</script>
</html>
{% block method_content %}{% endblock method_content %}