{% extends 'base.html' %}

{% block method_content %}

<!DOCTYPE html>
<html>
    <head> 
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'Homepage/css/style.css' %}">
    </head>
    <body padding>
        <p class="topic" >RECOMMENDED</p>
            <div class="grid-container">
                <!-- {% for story in latest_story %}
                <div class="grid-item">
                    <a href="{% url 'TELLING:detail' story.id %}" class="card">
                        <img class="card-img-top" src="{{story.thumbnail.url}}" alt="thumnail">
                    </a>
                    <p class="story-title">{{ story.title }}</p>
                    <p class="story-author">{{ story.author }}</p>
                </div> 
                {% endfor %} -->
                {% for story in stories %}
                <div class="grid-item">
                    <a href="{% url 'TELLING:detail' story.id %}" class="card">
                        <img class="card-img-top" src="{{story.thumbnail.url}}" alt="thumnail">
                    </a>
                    <p class="story-title">{{ story.title }}</p>
                    <p class="story-author">{{ story.author }}</p>
                </div> 
                {% endfor %}

            </div>
    </body>
</html>
{% endblock method_content %}