
<!DOCTYPE html>
<html>
    <head>
        <title> TELLING</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'Homepage/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Homepage/css/home.css' %}">

    </head>


    <body padding>

        <div class="topnav">
            
            <a style="font-size: 22px;">Hi,</a>
            <button class="btn default">Logout</button>
            
            <input type="text" placeholder="Search..">
            
        </div>

        <h1>RECOMMENDED</h1>
        <div class="grid-container">
            {% for story in Stories %}
            <div class="grid-item">
                <h4>{{ story.title }}</h4>
                <h6>{{ story.author }}</h6>
            </div>    
            {% endfor %}
        </div>



    </body>
</html>