{% extends 'base.html' %}

{% block method_content %}

{% load static %}

<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" type="text/css" href="{% static 'Login/css/style.login.css' %}">
    </head>
    <body>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <div class="card">
              <div class="card-body">
                <div class="text-center"><h1>Sign in</h1></div>
                <form method="post" action="{% url 'login:user_login' %}">
                  {% csrf_token %}
                  <label for="username">Username</label>
                  <div>
                    <input type="text" class="form-control" name="username" placeholder="Enter your username" >
                  </div>
                  <br>
                  <label for="password">Password</label>
                  <div>
                    <input type="password" class="form-control" name="password" placeholder="Enter your password">
                  </div>
                  <br>
                  <button type="submit" value="Login" class="btn btn-success btn-block">Sign in</button>
                  <div class="or-seperator"><i>or</i></div>
                  <div class="text-center social-btn">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Log in with Google</a>
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-secondary"><i class="fa fa-facebook"></i>&nbsp; Log in with Facebook</a>
                  </div>
                </form>
              </div>
            </div>
            <p class="text-center text-muted small sign-up">Don't have an account? <a href="{% url 'login:register' %}">Sign up here!</a></p>
          </div>
        </div>
      </div>
    </body>
</html>
{% endblock method_content %}