.topnav {
    overflow: hidden;
    background-color: white;
    
  }

  .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav input[type=text] {
    
    float: right;
    padding: 6px 8px;
    border: 3px solid black;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  .btn {
    float: right;
    padding: 7px 28px;
    border: 3px solid black;
    margin-top: 8px;
    margin-right: 16px;
    background-color: white;
    color: black;
    
    font-size: 16px;
    cursor: pointer;
  }
  .logout {
    border-color: #e7e7e7;
    color: black;
}